html,
body {
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.carousel-inner {
    height: 100%;
}
.carousel-header{
    position: absolute;
    top:3vh;
    left:8vw;
}
.carousel-header h2{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1vmin;
    font-size: 8vw;
    text-align: left;
    font-weight: bold;
    color: #a01e64;
    margin-bottom: 0.5vh;
}
.carousel-header h3{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1vmin;
    margin:0;
    color: #000;
    text-align: left;
    font-size: 5vw;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height:60vh;
    text-indent: 1vw;
    padding: 0;
    bottom: -44vh;
    left:0;
    z-index: 4;
}
.carousel-caption h4{
    padding: 0;
    margin: 0;
    min-height: 16vh;
    line-height: 4vh;
    font-size: 5.2vw;
}
.carousel-caption .intro{
    height: 44vh;
    overflow: scroll;
    z-index: 4;
}
.carousel-caption p{
    padding: 0 5vw 5vw 5vw;
    text-align: justify;
    z-index: 4;
}
.carousel-caption #arrowUp{
    display: block;
    font-weight: lighter;
    margin: 0 auto;
    font-size: 2.2vh;
    line-height: 4vh;
    color: #f7f7f8;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    background-color: none;
    height: 20vh;
}
.carousel-control.right i, .carousel-control.left i{
    display: none;
}
.fill {
    width: 100vw;
    height: 91vh;
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
