html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 500px;
}

.carousel-inner {
    height: 100%;
}
.carousel-caption {

}


.fill {
  min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: contain;
    -o-background-size: cover;
}
