.INFO{
    border-right:1px;
    border-color:grey;
    border-right-width:1px;
    border-right-style:solid;
}

.ddINFO{
    width: 39.59vw;
    height: 4vh;
    margin-top: 0;
    text-align: center;
    font-size: 3vw;
    padding-top: 0.9vw;
    font-family: Gilroy-Light;
    color: rgb(74,56,16);
    padding: 0;
    margin-bottom: 0;
    background-color: rgb(250,230,149);
    display:inline-block;
}

.ddFAQ{
    width: 39.59vw;
    height: 4vh;
    background-color: #fec248;
    margin-top: 0;
    text-align: center;
    font-size: 3vw;
    padding-top: 0.9vw;
    font-family: Gilroy-Light;
    color: rgb(74,56,16);
    padding: 0;
    margin-bottom: 0;
    display:inline-block;
}

.padding {
    padding: 0;
}

.tab{
    font-size:3vh;
    margin-top: 0;
    width: 49.5vw;
    height: 6vh;
    display:inline-block;
    position:relative;
    text-align:center;
    color:black;
    overflow-y:hidden;
    line-height: 6vh;
    font-weight:900;

}

.tab.active {
    color:#a01e64;
}

.tabbar{
    height: 6vh;
    background-color:white;
}

.SHDW{
    width:100vw;
    height:2vh;
    background:url(../img/program/shadow.png);
    background-repeat:no-repeat;
    background-position:top;
    background-size:100vw 1.5vh;
}

.tab.active {
    color:#a01e64;
}

.tabcontent {
    margin-top:10vw;
    display:none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent p {
    min-width:100%;
    text-align:justify;
}

#INFO{
    background-color:white;
    box-shadow: 0 0px 0.5vh 0 rgba(0, 0, 0, 0.2), 0 0.3vh 0.5vh 0 rgba(0, 0, 0, 0.19);
}

.tabcontent a {
    min-width:100%;
    text-align:center;
}

.container{
	background: url('../img/purple-haze.jpeg') center center no-repeat;
	background-size: cover;
}

.vivid-simple-accordion {
    margin: 2em 0
}
.vivid-simple-accordion h3 {
    margin-bottom: 0
}
.vivid-simple-accordion em {
    color: #af286e
}
.vivid-simple-accordion .simple-accordion-group {
    margin-bottom: 2em;
    background-color:white;
}
.vivid-simple-accordion .simple-accordion-group h2.panel-title {
    font-size: 1.8rem;
    position: relative;
    border: 2px solid #f062b3;
    border-bottom: 2px solid #fcd35f;
    border-left: 2px solid #fcd35f;
    padding: .5em 1.8em;
    text-transform: none
}
@media (max-width: 768px) {
    .vivid-simple-accordion .simple-accordion-group h2.panel-title {
        font-size: 1.4rem
    }
}
.vivid-simple-accordion .simple-accordion-group h2.panel-title:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 4px;
    background: #eb2d99;
    border-radius: 5px;
    -webkit-transition: all .25s cubic-bezier(.2, .3, .25, .9);
    transition: all .25s cubic-bezier(.2, .3, .25, .9);
    top: 30px;
    left: 15px
}
@media (max-width: 768px) {
    .vivid-simple-accordion .simple-accordion-group h2.panel-title:before {
        top: 13px
    }
}
.vivid-simple-accordion .simple-accordion-group h2.panel-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 4px;
    background: #fec934;
    border-radius: 5px;
    -webkit-transition: all .25s cubic-bezier(.2, .3, .25, .9);
    transition: all .25s cubic-bezier(.2, .3, .25, .9);
    top: 30px;
    left: 15px
}
@media (max-width: 768px) {
    .vivid-simple-accordion .simple-accordion-group h2.panel-title:after {
        top: 13px
    }
}
.vivid-simple-accordion .simple-accordion-group.closed h2.panel-title:before {
    content: ''
}
.vivid-simple-accordion .simple-accordion-group.closed h2.panel-title:after {
    content: '';
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}
.vivid-simple-accordion .simple-accordion-group.open h2.panel-title:before {
    content: '';
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.vivid-simple-accordion .simple-accordion-group.open h2.panel-title:after {
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.vivid-simple-accordion .simple-accordion-group .simple-accordion-description {
    display:none;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 1em;
	padding-bottom: 0.5em;
}
@media (max-width: 768px) {
    .vivid-simple-accordion .simple-accordion-group .simple-accordion-description {
        padding-left: 20px
    }
}
