.partner01{
    background: url(../img/partners/partner01.png);
}
.partner02{
    background: url(../img/partners/partner02.png);
}
.partner03{
    background: url(../img/partners/partner03.png);
}
.partner04{
    background: url(../img/partners/partner04.png);
}
.partner05{
    background: url(../img/partners/partner05.png);
}
.partner06{
    background: url(../img/partners/partner06.png);
}
.partner07{
    background: url(../img/partners/partner07.png);
}
.partner08{
    background: url(../img/partners/partner08.png);
}
.partner{
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: center center;
    -moz-background-size: center center;
    background-size: center center;
    -o-background-size: center center;
    height: 20vh;
}

.infotext {
    display:none;
    padding: 0 5vw;
    text-align: justify;
}
.bottom{
    z-index: -10;
}
.showText{
    display: block;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
