
.hashtags{
    display:inline-flex;
    margin-top:1vh;
    text-align:left;
    width:100%;
    margin-left:2vw;
    overflow:hidden;
    margin-right:5vw;
}

.hashtags p{
    font-size:4.5vw;
    margin-right:1vw;
}

.spkinfo{
    display:inline-block;
    position: relative;
	height: 22vh;
    width:59vw;
    left:-0.9vw;
    bottom:4vh;
}

.spkdesc{
    text-align:justify;
}

.spkimg{
    height:22vh;
    width:40vw;
    display:inline-flex;
    background-repeat:no-repeat;
    background-position:top;
    background-size: cover;
    position:relative;
    box-shadow: 0 0px 0.5vh 0 rgba(0, 0, 0, 0.3), 0 0.3vh 0.5vh 0 rgba(0, 0, 0, 0.5);
}

#lines{
    width:40vw;
    display:block;
    position:absolute;
    height:40%;
    bottom:0;
    left:-4vw;
}

.simple-accordion-title-shell{
    height:22vh;
}

.vivid-simple-accordion {
    margin:0;
    width:100%;
    height:5vh;
}
.vivid-simple-accordion h3 {
    margin-bottom: 0
}
.vivid-simple-accordion em {
    color: #af286e
}
.vivid-simple-accordion .simple-accordion-group {
    margin-bottom: 2em;
    background-color:white;
}
.vivid-simple-accordion .simple-accordion-group h2.panel-title {
    font-family:'GlacialIndifference', Fallback, sans-serif;
    text-transform:uppercase;
    letter-spacing:4px;
    text-align:left;
    font-size: 4vh;
    color:white;
    position: relative;
    background: linear-gradient(to left, #e64696, #ffb411);
	height: 10vh;
    width:59vw;
    display:inline-block;
    box-shadow: 0 0px 0.5vh 0 rgba(0, 0, 0, 0.3), 0 0.3vh 0.5vh 0 rgba(0, 0, 0, 0.5);
}

.vivid-simple-accordion .simple-accordion-group h2.panel-title:before {

}

.vivid-simple-accordion .simple-accordion-group h2.panel-title:after {

}
.vivid-simple-accordion .simple-accordion-group.closed h2.panel-title:before {

}
.vivid-simple-accordion .simple-accordion-group.closed h2.panel-title:after {

}
.vivid-simple-accordion .simple-accordion-group.open h2.panel-title:before {

}
.vivid-simple-accordion .simple-accordion-group.open h2.panel-title:after {
}
.vivid-simple-accordion .simple-accordion-group .simple-accordion-description {
    display:none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1em;
	padding-bottom: 0.5em;
}
