.row{
    overflow: hidden;
    height: 40vh;
	width:100vw;
    margin: 0;
    padding: 0;
}
.fill{
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#speaker {
    height: 40vh;
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding:0;
}

[id^='speaker'] a{
    display:block;
    min-width:100%;
    min-height:100%;
    background: url('../img/speakers/viivat.png') center bottom no-repeat;
	background-size: 26vh;
    /*background-color: RGBA(230, 70, 150, 0.1);*/
    position:relative;
    text-align: left;

}

#art {
    width:inherit;
}

[id^='speaker'] a span {
	display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1vmin;
    font-size: 8vw;
	line-height: 3.5vh;
	width: 100%;
    white-space: nowrap;
    overflow:hidden;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    padding: auto 0;
    font-family: 'Gilroy-ExtraBold', Fallback, sans-serif;
    text-transform:uppercase;
	text-align: justify;
}
